<section id="cover" style="margin-top: 8%;
margin-bottom: 5%;">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Register</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="registerForm" (ngSubmit)="submitBoarding();">
                                <div class="form-group text-left">
                                    <label for="email" class="links">User name<span class="required">*</span></label>
                                    <input type="text" formControlName="username" class="form-control"
                                        placeholder="Enter User name" required>
                                    <div *ngIf="register.username.touched && register.username.invalid" class="error">
                                        <div *ngIf="register.username.errors && register.username.errors.required ">
                                            Name is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="password" class="links">Password<span class="required">*</span></label>
                                    <input type="password" formControlName="password" class="form-control"
                                        placeholder="Enter Password" required>
                                    <div *ngIf="register.password.touched && register.password.invalid" class="error">
                                        <div *ngIf="register.password.errors && register.password.errors.required ">
                                            Password is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="email" class="links">Email<span class="required">*</span></label>
                                    <input type="email" class="form-control search-slt" formControlName="email"
                                        placeholder="Enter Email">
                                    <div *ngIf="register.email.touched && register.email.invalid" class="error">
                                        <div *ngIf="register.email.errors && register.email.errors.required">
                                            Email is <strong>required</strong>
                                        </div>
                                    </div>
                                    <div *ngIf="register.email.touched && register.email.invalid" class="error">
                                        <div *ngIf="register.email.errors && register.email.errors.email">
                                            Email is <strong>Invalid</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="email" class="links">Mobile Number<span
                                            class="required">*</span></label>
                                    <input type="text" class="form-control search-slt" formControlName="mobileNumber"
                                        placeholder="Enter Mobile Number">
                                    <div *ngIf="register.mobileNumber.touched && register.mobileNumber.invalid"
                                        class="error">
                                        <div
                                            *ngIf="register.mobileNumber.errors && register.mobileNumber.errors.required">
                                            Mobile Number is <strong>required</strong>
                                        </div>
                                    </div>
                                    <div *ngIf="register.mobileNumber.touched && register.mobileNumber.invalid"
                                        class="error">
                                        <div
                                            *ngIf="register.mobileNumber.errors && register.mobileNumber.errors.minlength">
                                            Minimum 10 digits <strong>required</strong>
                                        </div>
                                    </div>
                                    <div *ngIf="register.mobileNumber.touched && register.mobileNumber.invalid"
                                        class="error">
                                        <div
                                            *ngIf="register.mobileNumber.errors && register.mobileNumber.errors.maxlength">
                                            Maximum 10 digits <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="email" class="links">Designation<span class="required">*</span></label>
                                    <input type="text" formControlName="designation" class="form-control"
                                        placeholder="Enter Designation" required>
                                    <div *ngIf="register.designation.touched && register.designation.invalid"
                                        class="error">
                                        <div
                                            *ngIf="register.designation.errors && register.designation.errors.required ">
                                            Designation is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="email" class="links">Role<span class="required">*</span></label>
                                    <select class="form-control" id="exampleFormControlSelect2" formControlName="role">
                                        <option value="">Choose Role</option>
                                        <option value="Employee">Employee</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                    <div *ngIf="register.role.touched && register.role.invalid" class="error">
                                        <div *ngIf="register.role.errors && register.role.errors.required">
                                            Role is <strong>required</strong>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="registerForm.invalid"
                                    class="btn btn-primary">Register</button>
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="javascript:void(0);" (click)="login();" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loader [loader]="loader"></app-loader>
<app-alert [sharedAlert]="httpService.showAlert" *ngIf="httpService.showAlert?.modalShow"></app-alert>